.sidebarOption {
  width: 10rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  cursor: pointer;
  color: #1C282C;
}
.icons {
  padding: 1rem;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: color .1s ease-in-out;
  -webkit-transition: color .1s ease-in-out;
  -moz-transition: color .1s ease-in-out;
  -ms-transition: color .1s ease-in-out;
  -o-transition: color .1s ease-in-out;
}
.sidebarOption--active {
  color: var(--twitter-color);
}